hola <%= @note.notable.collection_advisor_name %>
<br>
Han dejado una nota en la actividad <%= @note.notable_title %>, lo puedes mirar <a href="<%= edit_polymorphic_url([@note.notable.invoice, @note.notable]) %>" target="_blank" > aqui </a>
