h1 Dashboard
p index

= @enterprise.name

hr
h4 links

= link_to 'Productos', products_path
br
= link_to 'Tipos', option_types_path
br
= link_to 'Clientes', clients_path
br
= link_to 'Ventas', invoices_sales_path
br
= link_to 'Usuarios', users_path
br
= link_to 'Tareas', tasks_path
