= render 'components/breadcrumb',
         links: [ [clients_path, 'Clientes'], 
           [edit_client_path(@client), @client.name], 
           ['Contactos'] ]

= link_to 'nuevo', new_client_contact_path, class: 'btn btn-primary'
= render 'components/table',
         records: @contacts,
         new_record: new_client_contact_path,
         edit_arg: [@client]
