= render 'components/breadcrumb',
         links: [ [clients_path, 'Clientes'], 
           [edit_client_path(@client), @client.name], 
           [client_contacts_path(@client),'Contactos'],
           ['Nuevo'] ]

= render 'form'
