= f.label :name
= f.text_field :name
= f.label :email
= f.text_field :email
= f.label :cellphone
= f.text_field :cellphone
= f.label :phone
= f.text_field :phone
= f.label :address
= f.text_field :address_description
