= render 'components/breadcrumb',
         links: [ [clients_path, 'Clientes'], 
           [edit_client_path(@client), @client.name], 
           ['Facturas'] ]

= render 'components/navbar_clients' do
  = render 'components/table',
            records: @invoices