= render 'components/breadcrumb',
         links: [[invoices_sales_path, 'Facturas de Venta'],
          [edit_invoices_sale_path(@sale), @sale.code],
          [invoices_sale_activities_path(@sale), 'Actividades'],
          ['Llamada']]

= render 'form'
